<?xml version="1.0" encoding="UTF-8"?>
<!--定期扫描我们的配置，有没有发生变化，进行加载-->
<configuration scan="true" scanPeriod="60 seconds" debug="false">
	<!--定义参数常量-->
	<!--日志级别TRACE<DEBUG<INFO<WARN<ERROR-->
	<!--logger.trace("msg")  logger.debug...-->
	<property name="log.level" value="debug"/>
	<!--日志保存的时间,天-->
	<property name="log.maxHistory" value="30"/>
	<!--日志保存的路径-->
	<property name="log.filePath" value="${catalina.base}/logs/webapps"/>
	<!--日志的格式,年月日 哪个线程 缩进5个字符的日志信息 哪个包下-->
	<property name="log.pattern"
	          value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} -%msg%n"/>

	<!--输出的目的地：控制台.文件等-->
	<appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>${log.pattern}</pattern>
		</encoder>
	</appender>

	<!--DEBUG-->
	<appender name="debugAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<!--文件路径-->
		<file>${log.filePath}/debug.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!--文件名称-->
			<fileNamePattern>${log.filePath}/debug/debug.%d{yyyy-MM-dd}.log.gz</fileNamePattern>
			<!--文件最大保存历史数量-->
			<maxHistory>${log.maxHistory}</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>${log.pattern}</pattern>
		</encoder>
		<!--过滤器,只保留是debug的日志，其余全部不要-->
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>DEBUG</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
	</appender>

	<!--INFO-->
	<appender name="infoAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<!--文件路径-->
		<file>${log.filePath}/info.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!--文件名称-->
			<fileNamePattern>${log.filePath}/info/info.%d{yyyy-MM-dd}.log.gz</fileNamePattern>
			<!--文件最大保存历史数量-->
			<maxHistory>${log.maxHistory}</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>${log.pattern}</pattern>
		</encoder>
		<!--过滤器,只保留是info的日志，其余全部不要-->
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>INFO</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
	</appender>

	<!--ERROR-->
	<appender name="errorAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<!--文件路径-->
		<file>${log.filePath}/error.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!--文件名称-->
			<fileNamePattern>${log.filePath}/error/error.%d{yyyy-MM-dd}.log.gz</fileNamePattern>
			<!--文件最大保存历史数量-->
			<maxHistory>${log.maxHistory}</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>${log.pattern}</pattern>
		</encoder>
		<!--过滤器,只保留是error的日志，其余全部不要-->
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>ERROR</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
	</appender>

	<logger name="com.hs.o2o" level="${log.level}" additivity="true">
		<appender-ref ref="debugAppender"/>
		<appender-ref ref="infoAppender"/>
		<appender-ref ref="errorAppender"/>
	</logger>
	<root level="info">
		<appender-ref ref="consoleAppender"/>
	</root>
</configuration>